In [1]:
import os
import pandas as pd

In [3]:
masterDF = pd.read_csv("master.csv")
masterDF

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [11]:
year2016DF = masterDF[masterDF['year']==2016]
year2016DF

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
1248,Armenia,2016,male,75+ years,12,61956,19.37,Armenia2016,NaN,"10,546,135,160",3788,Silent
1249,Armenia,2016,male,55-74 years,16,237813,6.73,Armenia2016,NaN,"10,546,135,160",3788,Boomers
1250,Armenia,2016,male,35-54 years,16,350633,4.56,Armenia2016,NaN,"10,546,135,160",3788,Generation X
1251,Armenia,2016,male,15-24 years,5,202220,2.47,Armenia2016,NaN,"10,546,135,160",3788,Millenials
1252,Armenia,2016,female,75+ years,2,102414,1.95,Armenia2016,NaN,"10,546,135,160",3788,Silent
...,...,...,...,...,...,...,...,...,...,...,...,...
25307,Thailand,2016,female,75+ years,69,1589015,4.34,Thailand2016,NaN,"411,755,164,833",6713,Silent
25308,Thailand,2016,female,55-74 years,222,6049756,3.67,Thailand2016,NaN,"411,755,164,833",6713,Boomers
25309,Thailand,2016,female,35-54 years,375,10629684,3.53,Thailand2016,NaN,"411,755,164,833",6713,Generation X
25310,Thailand,2016,female,25-34 years,116,4702656,2.47,Thailand2016,NaN,"411,755,164,833",6713,Millenials
25311,Thailand,2016,female,15-24 years,60,4525574,1.33,Thailand2016,NaN,"411,755,164,833",6713,Millenials

In [12]:
croatiaDF = year2016DF[year2016DF['country']=='Croatia']
croatiaDF

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
6620,Croatia,2016,male,75+ years,104,134519,77.31,Croatia2016,NaN,"51,338,524,831",12905,Silent
6621,Croatia,2016,male,55-74 years,187,480263,38.94,Croatia2016,NaN,"51,338,524,831",12905,Boomers
6622,Croatia,2016,male,35-54 years,146,571003,25.57,Croatia2016,NaN,"51,338,524,831",12905,Generation X
6623,Croatia,2016,male,25-34 years,48,274466,17.49,Croatia2016,NaN,"51,338,524,831",12905,Millenials
6624,Croatia,2016,female,75+ years,40,246002,16.26,Croatia2016,NaN,"51,338,524,831",12905,Silent
6625,Croatia,2016,female,55-74 years,69,551758,12.51,Croatia2016,NaN,"51,338,524,831",12905,Boomers
6626,Croatia,2016,male,15-24 years,30,242287,12.38,Croatia2016,NaN,"51,338,524,831",12905,Millenials
6627,Croatia,2016,female,35-54 years,47,570380,8.24,Croatia2016,NaN,"51,338,524,831",12905,Generation X
6628,Croatia,2016,female,15-24 years,6,231038,2.60,Croatia2016,NaN,"51,338,524,831",12905,Millenials
6629,Croatia,2016,female,25-34 years,6,265327,2.26,Croatia2016,NaN,"51,338,524,831",12905,Millenials

In [13]:
hrDF =pd.read_csv('Human Resources.csv')
hrDF

,Country,Year,Psychiatrists,Nurses,Social_workers,Psychologists
0,Afghanistan,2016,0.231,0.098,NaN,0.296
1,Albania,2016,1.471,6.876,1.060,1.231
2,Angola,2016,0.057,0.660,0.022,0.179
3,Antigua and Barbuda,2016,1.001,7.005,4.003,NaN
4,Argentina,2016,21.705,NaN,NaN,222.572
...,...,...,...,...,...,...
102,Uzbekistan,2016,2.612,9.214,NaN,0.090
103,Vanuatu,2016,0.378,4.535,0.378,0.756
104,Yemen,2016,0.201,0.323,0.056,0.409
105,Zambia,2016,0.056,1.429,0.019,0.031
106,Zimbabwe,2016,0.095,3.486,0.634,0.057

In [14]:
hrYearDF = hrDF[hrDF['Year']==2016]
hrYearDF

,Country,Year,Psychiatrists,Nurses,Social_workers,Psychologists
0,Afghanistan,2016,0.231,0.098,NaN,0.296
1,Albania,2016,1.471,6.876,1.060,1.231
2,Angola,2016,0.057,0.660,0.022,0.179
3,Antigua and Barbuda,2016,1.001,7.005,4.003,NaN
4,Argentina,2016,21.705,NaN,NaN,222.572
...,...,...,...,...,...,...
102,Uzbekistan,2016,2.612,9.214,NaN,0.090
103,Vanuatu,2016,0.378,4.535,0.378,0.756
104,Yemen,2016,0.201,0.323,0.056,0.409
105,Zambia,2016,0.056,1.429,0.019,0.031
106,Zimbabwe,2016,0.095,3.486,0.634,0.057

In [21]:
hrYearDF = hrYearDF.rename(columns={'Country': 'country'})
hrYearDF

,country,Year,Psychiatrists,Nurses,Social_workers,Psychologists
0,Afghanistan,2016,0.231,0.098,NaN,0.296
1,Albania,2016,1.471,6.876,1.060,1.231
2,Angola,2016,0.057,0.660,0.022,0.179
3,Antigua and Barbuda,2016,1.001,7.005,4.003,NaN
4,Argentina,2016,21.705,NaN,NaN,222.572
...,...,...,...,...,...,...
102,Uzbekistan,2016,2.612,9.214,NaN,0.090
103,Vanuatu,2016,0.378,4.535,0.378,0.756
104,Yemen,2016,0.201,0.323,0.056,0.409
105,Zambia,2016,0.056,1.429,0.019,0.031
106,Zimbabwe,2016,0.095,3.486,0.634,0.057

In [22]:
hrCroatiaDF = hrYearDF[hrYearDF['country']=='Croatia']
hrCroatiaDF

    country  Year  Psychiatrists  Nurses  Social_workers  Psychologists
24  Croatia  2016         11.095  41.856           1.298          4.367

In [23]:
croatia2016DF = croatiaDF.merge(hrCroatiaDF, on='country')
croatia2016DF

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation,Year,Psychiatrists,Nurses,Social_workers,Psychologists
0,Croatia,2016,male,75+ years,104,134519,77.31,Croatia2016,NaN,"51,338,524,831",12905,Silent,2016,11.095,41.856,1.298,4.367
1,Croatia,2016,male,55-74 years,187,480263,38.94,Croatia2016,NaN,"51,338,524,831",12905,Boomers,2016,11.095,41.856,1.298,4.367
2,Croatia,2016,male,35-54 years,146,571003,25.57,Croatia2016,NaN,"51,338,524,831",12905,Generation X,2016,11.095,41.856,1.298,4.367
3,Croatia,2016,male,25-34 years,48,274466,17.49,Croatia2016,NaN,"51,338,524,831",12905,Millenials,2016,11.095,41.856,1.298,4.367
4,Croatia,2016,female,75+ years,40,246002,16.26,Croatia2016,NaN,"51,338,524,831",12905,Silent,2016,11.095,41.856,1.298,4.367
5,Croatia,2016,female,55-74 years,69,551758,12.51,Croatia2016,NaN,"51,338,524,831",12905,Boomers,2016,11.095,41.856,1.298,4.367
6,Croatia,2016,male,15-24 years,30,242287,12.38,Croatia2016,NaN,"51,338,524,831",12905,Millenials,2016,11.095,41.856,1.298,4.367
7,Croatia,2016,female,35-54 years,47,570380,8.24,Croatia2016,NaN,"51,338,524,831",12905,Generation X,2016,11.095,41.856,1.298,4.367
8,Croatia,2016,female,15-24 years,6,231038,2.60,Croatia2016,NaN,"51,338,524,831",12905,Millenials,2016,11.095,41.856,1.298,4.367
9,Croatia,2016,female,25-34 years,6,265327,2.26,Croatia2016,NaN,"51,338,524,831",12905,Millenials,2016,11.095,41.856,1.298,4.367

In [24]:
crudeRatesDF = pd.read_csv('Crude suicide rates.csv')
crudeRatesDF

,Country,Sex,80_above,70to79,60to69,50to59,40to49,30to39,20to29,10to19
0,Afghanistan,Both sexes,42.0,11.0,5.5,5.6,6.6,9.2,10.2,3.1
1,Afghanistan,Male,70.4,20.9,9.8,9.3,10.5,15.1,16.3,4.8
2,Afghanistan,Female,20.1,2.3,1.4,1.6,2.3,2.7,3.5,1.2
3,Albania,Both sexes,16.3,8.3,6.0,7.8,9.1,6.1,6.5,5.0
4,Albania,Male,23.2,11.9,8.1,11.4,13.5,8.8,6.3,3.1
...,...,...,...,...,...,...,...,...,...,...
544,Zambia,Male,152.1,79.0,38.7,27.3,17.0,13.3,12.3,3.9
545,Zambia,Female,31.2,26.4,16.0,11.2,6.9,4.6,4.2,1.6
546,Zimbabwe,Both sexes,205.7,81.5,41.3,29.4,19.2,13.7,11.3,4.6
547,Zimbabwe,Male,285.0,111.5,62.8,47.0,30.1,22.8,19.1,6.4
548,Zimbabwe,Female,152.4,59.4,26.4,16.0,9.4,5.5,3.8,2.7

In [26]:
croatiaCrudeRatesDF = crudeRatesDF[crudeRatesDF["Country"]=="Croatia"]
croatiaCrudeRatesDF

,Country,Sex,80_above,70to79,60to69,50to59,40to49,30to39,20to29,10to19
120,Croatia,Both sexes,40.9,30.7,25.5,22.2,17.0,12.1,8.9,3.4
121,Croatia,Male,91.5,52.9,38.6,37.0,23.7,20.2,14.7,5.8
122,Croatia,Female,17.6,15.6,14.0,8.1,10.2,3.9,2.8,0.9

In [27]:
croatiaCrudeRatesDF = croatiaCrudeRatesDF.rename(columns={'Country': 'country'})
croatiaCrudeRatesDF

,country,Sex,80_above,70to79,60to69,50to59,40to49,30to39,20to29,10to19
120,Croatia,Both sexes,40.9,30.7,25.5,22.2,17.0,12.1,8.9,3.4
121,Croatia,Male,91.5,52.9,38.6,37.0,23.7,20.2,14.7,5.8
122,Croatia,Female,17.6,15.6,14.0,8.1,10.2,3.9,2.8,0.9

In [28]:
croatiaRate2016DF = croatia2016DF.merge(croatiaCrudeRatesDF, on='country')
croatiaRate2016DF

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),...,Psychologists,Sex,80_above,70to79,60to69,50to59,40to49,30to39,20to29,10to19
0,Croatia,2016,male,75+ years,104,134519,77.31,Croatia2016,NaN,"51,338,524,831",...,4.367,Both sexes,40.9,30.7,25.5,22.2,17.0,12.1,8.9,3.4
1,Croatia,2016,male,75+ years,104,134519,77.31,Croatia2016,NaN,"51,338,524,831",...,4.367,Male,91.5,52.9,38.6,37.0,23.7,20.2,14.7,5.8
2,Croatia,2016,male,75+ years,104,134519,77.31,Croatia2016,NaN,"51,338,524,831",...,4.367,Female,17.6,15.6,14.0,8.1,10.2,3.9,2.8,0.9
3,Croatia,2016,male,55-74 years,187,480263,38.94,Croatia2016,NaN,"51,338,524,831",...,4.367,Both sexes,40.9,30.7,25.5,22.2,17.0,12.1,8.9,3.4
4,Croatia,2016,male,55-74 years,187,480263,38.94,Croatia2016,NaN,"51,338,524,831",...,4.367,Male,91.5,52.9,38.6,37.0,23.7,20.2,14.7,5.8
5,Croatia,2016,male,55-74 years,187,480263,38.94,Croatia2016,NaN,"51,338,524,831",...,4.367,Female,17.6,15.6,14.0,8.1,10.2,3.9,2.8,0.9
6,Croatia,2016,male,35-54 years,146,571003,25.57,Croatia2016,NaN,"51,338,524,831",...,4.367,Both sexes,40.9,30.7,25.5,22.2,17.0,12.1,8.9,3.4
7,Croatia,2016,male,35-54 years,146,571003,25.57,Croatia2016,NaN,"51,338,524,831",...,4.367,Male,91.5,52.9,38.6,37.0,23.7,20.2,14.7,5.8
8,Croatia,2016,male,35-54 years,146,571003,25.57,Croatia2016,NaN,"51,338,524,831",...,4.367,Female,17.6,15.6,14.0,8.1,10.2,3.9,2.8,0.9
9,Croatia,2016,male,25-34 years,48,274466,17.49,Croatia2016,NaN,"51,338,524,831",...,4.367,Both sexes,40.9,30.7,25.5,22.2,17.0,12.1,8.9,3.4
10,Croatia,2016,male,25-34 years,48,274466,17.49,Croatia2016,NaN,"51,338,524,831",...,4.367,Male,91.5,52.9,38.6,37.0,23.7,20.2,14.7,5.8
11,Croatia,2016,male,25-34 years,48,274466,17.49,Croatia2016,NaN,"51,338,524,831",...,4.367,Female,17.6,15.6,14.0,8.1,10.2,3.9,2.8,0.9
12,Croatia,2016,female,75+ years,40,246002,16.26,Croatia2016,NaN,"51,338,524,831",...,4.367,Both sexes,40.9,30.7,25.5,22.2,17.0,12.1,8.9,3.4
13,Croatia,2016,female,75+ years,40,246002,16.26,Croatia2016,NaN,"51,338,524,831",...,4.367,Male,91.5,52.9,38.6,37.0,23.7,20.2,14.7,5.8
14,Croatia,2016,female,75+ years,40,246002,16.26,Croatia2016,NaN,"51,338,524,831",...,4.367,Female,17.6,15.6,14.0,8.1,10.2,3.9,2.8,0.9
15,Croatia,2016,female,55-74 years,69,551758,12.51,Croatia2016,NaN,"51,338,524,831",...,4.367,Both sexes,40.9,30.7,25.5,22.2,17.0,12.1,8.9,3.4
16,Croatia,2016,female,55-74 years,69,551758,12.51,Croatia2016,NaN,"51,338,524,831",...,4.367,Male,91.5,52.9,38.6,37.0,23.7,20.2,14.7,5.8
17,Croatia,2016,female,55-74 years,69,551758,12.51,Croatia2016,NaN,"51,338,524,831",...,4.367,Female,17.6,15.6,14.0,8.1,10.2,3.9,2.8,0.9
18,Croatia,2016,male,15-24 years,30,242287,12.38,Croatia2016,NaN,"51,338,524,831",...,4.367,Both sexes,40.9,30.7,25.5,22.2,17.0,12.1,8.9,3.4
19,Croatia,2016,male,15-24 years,30,242287,12.38,Croatia2016,NaN,"51,338,524,831",...,4.367,Male,91.5,52.9,38.6,37.0,23.7,20.2,14.7,5.8
20,Croatia,2016,male,15-24 years,30,242287,12.38,Croatia2016,NaN,"51,338,524,831",...,4.367,Female,17.6,15.6,14.0,8.1,10.2,3.9,2.8,0.9
21,Croatia,2016,female,35-54 years,47,570380,8.24,Croatia2016,NaN,"51,338,524,831",...,4.367,Both sexes,40.9,30.7,25.5,22.2,17.0,12.1,8.9,3.4
22,Croatia,2016,female,35-54 years,47,570380,8.24,Croatia2016,NaN,"51,338,524,831",...,4.367,Male,91.5,52.9,38.6,37.0,23.7,20.2,14.7,5.8
23,Croatia,2016,female,35-54 years,47,570380,8.24,Croatia2016,NaN,"51,338,524,831",...,4.367,Female,17.6,15.6,14.0,8.1,10.2,3.9,2.8,0.9
24,Croatia,2016,female,15-24 years,6,231038,2.60,Croatia2016,NaN,"51,338,524,831",...,4.367,Both sexes,40.9,30.7,25.5,22.2,17.0,12.1,8.9,3.4
25,Croatia,2016,female,15-24 years,6,231038,2.60,Croatia2016,NaN,"51,338,524,831",...,4.367,Male,91.5,52.9,38.6,37.0,23.7,20.2,14.7,5.8
26,Croatia,2016,female,15-24 years,6,231038,2.60,Croatia2016,NaN,"51,338,524,831",...,4.367,Female,17.6,15.6,14.0,8.1,10.2,3.9,2.8,0.9
27,Croatia,2016,female,25-34 years,6,265327,2.26,Croatia2016,NaN,"51,338,524,831",...,4.367,Both sexes,40.9,30.7,25.5,22.2,17.0,12.1,8.9,3.4
28,Croatia,2016,female,25-34 years,6,265327,2.26,Croatia2016,NaN,"51,338,524,831",...,4.367,Male,91.5,52.9,38.6,37.0,23.7,20.2,14.7,5.8
29,Croatia,2016,female,25-34 years,6,265327,2.26,Croatia2016,NaN,"51,338,524,831",...,4.367,Female,17.6,15.6,14.0,8.1,10.2,3.9,2.8,0.9

In [30]:
facilitiesDF = pd.read_csv('Facilities.csv')
facilitiesDF

,Country,Year,Mental _hospitals,health_units,outpatient _facilities,day _treatment,residential_facilities
0,Afghanistan,2016,0.003,0.012,0.006,NaN,NaN
1,Albania,2016,0.068,0.068,0.410,NaN,0.445
2,Algeria,2016,0.048,0.068,0.048,NaN,NaN
3,Angola,2016,0.011,NaN,NaN,NaN,0.014
4,Antigua and Barbuda,2016,1.001,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
107,Vanuatu,2016,NaN,0.756,2.645,NaN,NaN
108,Viet Nam,2016,0.043,0.017,0.009,NaN,NaN
109,Yemen,2016,0.033,0.026,0.063,NaN,NaN
110,Zambia,2016,0.062,0.062,0.205,NaN,0.019
111,Zimbabwe,2016,0.025,0.025,0.057,0.006,0.051

In [31]:
croatiaFacilitiesDF = facilitiesDF[facilitiesDF['Country']=='Croatia']
croatiaFacilitiesDF

,Country,Year,Mental _hospitals,health_units,outpatient _facilities,day _treatment,residential_facilities
25,Croatia,2016,0.165,0.519,3.093,0.803,NaN

In [32]:
croatiaFacilitiesDF = croatiaFacilitiesDF.rename(columns={'Country': 'country'})
croatiaFacilitiesDF

,country,Year,Mental _hospitals,health_units,outpatient _facilities,day _treatment,residential_facilities
25,Croatia,2016,0.165,0.519,3.093,0.803,NaN

In [33]:
croatiaFinal2016DF = croatiaRate2016DF.merge(croatiaFacilitiesDF, on='country')
croatiaFinal2016DF

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),...,40to49,30to39,20to29,10to19,Year_y,Mental _hospitals,health_units,outpatient _facilities,day _treatment,residential_facilities
0,Croatia,2016,male,75+ years,104,134519,77.31,Croatia2016,NaN,"51,338,524,831",...,17.0,12.1,8.9,3.4,2016,0.165,0.519,3.093,0.803,NaN
1,Croatia,2016,male,75+ years,104,134519,77.31,Croatia2016,NaN,"51,338,524,831",...,23.7,20.2,14.7,5.8,2016,0.165,0.519,3.093,0.803,NaN
2,Croatia,2016,male,75+ years,104,134519,77.31,Croatia2016,NaN,"51,338,524,831",...,10.2,3.9,2.8,0.9,2016,0.165,0.519,3.093,0.803,NaN
3,Croatia,2016,male,55-74 years,187,480263,38.94,Croatia2016,NaN,"51,338,524,831",...,17.0,12.1,8.9,3.4,2016,0.165,0.519,3.093,0.803,NaN
4,Croatia,2016,male,55-74 years,187,480263,38.94,Croatia2016,NaN,"51,338,524,831",...,23.7,20.2,14.7,5.8,2016,0.165,0.519,3.093,0.803,NaN
5,Croatia,2016,male,55-74 years,187,480263,38.94,Croatia2016,NaN,"51,338,524,831",...,10.2,3.9,2.8,0.9,2016,0.165,0.519,3.093,0.803,NaN
6,Croatia,2016,male,35-54 years,146,571003,25.57,Croatia2016,NaN,"51,338,524,831",...,17.0,12.1,8.9,3.4,2016,0.165,0.519,3.093,0.803,NaN
7,Croatia,2016,male,35-54 years,146,571003,25.57,Croatia2016,NaN,"51,338,524,831",...,23.7,20.2,14.7,5.8,2016,0.165,0.519,3.093,0.803,NaN
8,Croatia,2016,male,35-54 years,146,571003,25.57,Croatia2016,NaN,"51,338,524,831",...,10.2,3.9,2.8,0.9,2016,0.165,0.519,3.093,0.803,NaN
9,Croatia,2016,male,25-34 years,48,274466,17.49,Croatia2016,NaN,"51,338,524,831",...,17.0,12.1,8.9,3.4,2016,0.165,0.519,3.093,0.803,NaN
10,Croatia,2016,male,25-34 years,48,274466,17.49,Croatia2016,NaN,"51,338,524,831",...,23.7,20.2,14.7,5.8,2016,0.165,0.519,3.093,0.803,NaN
11,Croatia,2016,male,25-34 years,48,274466,17.49,Croatia2016,NaN,"51,338,524,831",...,10.2,3.9,2.8,0.9,2016,0.165,0.519,3.093,0.803,NaN
12,Croatia,2016,female,75+ years,40,246002,16.26,Croatia2016,NaN,"51,338,524,831",...,17.0,12.1,8.9,3.4,2016,0.165,0.519,3.093,0.803,NaN
13,Croatia,2016,female,75+ years,40,246002,16.26,Croatia2016,NaN,"51,338,524,831",...,23.7,20.2,14.7,5.8,2016,0.165,0.519,3.093,0.803,NaN
14,Croatia,2016,female,75+ years,40,246002,16.26,Croatia2016,NaN,"51,338,524,831",...,10.2,3.9,2.8,0.9,2016,0.165,0.519,3.093,0.803,NaN
15,Croatia,2016,female,55-74 years,69,551758,12.51,Croatia2016,NaN,"51,338,524,831",...,17.0,12.1,8.9,3.4,2016,0.165,0.519,3.093,0.803,NaN
16,Croatia,2016,female,55-74 years,69,551758,12.51,Croatia2016,NaN,"51,338,524,831",...,23.7,20.2,14.7,5.8,2016,0.165,0.519,3.093,0.803,NaN
17,Croatia,2016,female,55-74 years,69,551758,12.51,Croatia2016,NaN,"51,338,524,831",...,10.2,3.9,2.8,0.9,2016,0.165,0.519,3.093,0.803,NaN
18,Croatia,2016,male,15-24 years,30,242287,12.38,Croatia2016,NaN,"51,338,524,831",...,17.0,12.1,8.9,3.4,2016,0.165,0.519,3.093,0.803,NaN
19,Croatia,2016,male,15-24 years,30,242287,12.38,Croatia2016,NaN,"51,338,524,831",...,23.7,20.2,14.7,5.8,2016,0.165,0.519,3.093,0.803,NaN
20,Croatia,2016,male,15-24 years,30,242287,12.38,Croatia2016,NaN,"51,338,524,831",...,10.2,3.9,2.8,0.9,2016,0.165,0.519,3.093,0.803,NaN
21,Croatia,2016,female,35-54 years,47,570380,8.24,Croatia2016,NaN,"51,338,524,831",...,17.0,12.1,8.9,3.4,2016,0.165,0.519,3.093,0.803,NaN
22,Croatia,2016,female,35-54 years,47,570380,8.24,Croatia2016,NaN,"51,338,524,831",...,23.7,20.2,14.7,5.8,2016,0.165,0.519,3.093,0.803,NaN
23,Croatia,2016,female,35-54 years,47,570380,8.24,Croatia2016,NaN,"51,338,524,831",...,10.2,3.9,2.8,0.9,2016,0.165,0.519,3.093,0.803,NaN
24,Croatia,2016,female,15-24 years,6,231038,2.60,Croatia2016,NaN,"51,338,524,831",...,17.0,12.1,8.9,3.4,2016,0.165,0.519,3.093,0.803,NaN
25,Croatia,2016,female,15-24 years,6,231038,2.60,Croatia2016,NaN,"51,338,524,831",...,23.7,20.2,14.7,5.8,2016,0.165,0.519,3.093,0.803,NaN
26,Croatia,2016,female,15-24 years,6,231038,2.60,Croatia2016,NaN,"51,338,524,831",...,10.2,3.9,2.8,0.9,2016,0.165,0.519,3.093,0.803,NaN
27,Croatia,2016,female,25-34 years,6,265327,2.26,Croatia2016,NaN,"51,338,524,831",...,17.0,12.1,8.9,3.4,2016,0.165,0.519,3.093,0.803,NaN
28,Croatia,2016,female,25-34 years,6,265327,2.26,Croatia2016,NaN,"51,338,524,831",...,23.7,20.2,14.7,5.8,2016,0.165,0.519,3.093,0.803,NaN
29,Croatia,2016,female,25-34 years,6,265327,2.26,Croatia2016,NaN,"51,338,524,831",...,10.2,3.9,2.8,0.9,2016,0.165,0.519,3.093,0.803,NaN